@use "variables" as *;

@mixin font-one($font-size: $font-size-base, $color: $color-text-grey, $fontW: $font-weight-regular) {
  font-family: $font-family-1;
  font-size: $font-size;
  color: $color;
  line-height: $line-height-normal;
  font-weight: $fontW;
}

@mixin font-two($font-size: $font-size-xxl, $color: $color-white, $fontW: $font-weight-light) {
  font-family: $font-family-2;
  font-size: $font-size;
  color: $color;
  line-height: $line-height-tight;
  font-weight: $fontW;
}

@mixin layoutFlexBase($gap: $space-5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin layoutFLex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin desktopBreakpoint {
  @media (min-width: 64em) {
    @content;
  }
}